<html>
  <head>
    <title>{{ transmission.title }}</title>
  </head>
  <body>
    <center>
      <dl>
        <dt>status</dt>
        <dd>{{ transmission.status }}</dd>
        <dt>try_allowed</dt>
        <dd>{{ transmission.try_allowed }}</dd>
      </dl>
    </center>
  </body>
</html>
